@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .notes-section {
  width: calc(100% - 16rem);
  min-height: calc(100% - 20rem);
  margin: 0 3rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 5rem;
}

.container .notes-section h3 {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.2);
  font-weight: 500;
}

.container .notes-section .notes {
  position: relative;
  width: 100%;
  height: calc(100% - 5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .notes-section .notes-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.container .notes-section .notes-list-item .note-btn {
  max-width: 105px;
  border: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  margin-right: 0.5rem;
  padding: 5px 0.8rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  border-radius: 4px;
}

.container .notes-section .notes-list-item .note-btn .delete-btn {
  margin: 0 0.3rem;
}

.container .notes-section .notes-list-item .note-btn .delete-btn img {
  width: 10px;
  height: 10px;
}

.container .notes-section .notes-list-item .note-btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.container .notes-section .notes .note-box {
  width: 100%;
  height: 100%;
  margin: 2rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-transform: rotate(10deg) translateY(-50px) scale(0.1);
          transform: rotate(10deg) translateY(-50px) scale(0.1);
}

.container .notes-section .notes .note-box--active {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  opacity: 1;
  -webkit-transform: rotate(0deg) translateY(0) scale(1) perspective(0);
          transform: rotate(0deg) translateY(0) scale(1) perspective(0);
  height: 100%;
}

.container .notes-section .notes .note-box .left-side {
  -ms-flex-preferred-size: calc(30% - 4rem);
      flex-basis: calc(30% - 4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 2rem;
}

.container .notes-section .notes .note-box .left-side .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 26px;
  outline: none;
  border: none;
  resize: none;
}

.container .notes-section .notes .note-box .left-side p {
  font-size: 13px;
}

.container .notes-section .notes .note-box .right-side {
  -ms-flex-preferred-size: calc(70% - 4rem);
      flex-basis: calc(70% - 4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 2rem;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

.container .notes-section .notes .note-box .right-side .description {
  margin-left: 1rem;
  font-weight: 400;
  font-size: 18px;
  border: none;
  resize: none;
  outline: none;
}

.container .notes-section .notes .new-note-btn {
  position: absolute;
  max-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  padding: 5px;
  bottom: calc(100% - 1.57rem);
  border-radius: 5px;
  width: 8%;
  right: 0;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container .notes-section .notes .new-note-btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
/*# sourceMappingURL=style.css.map */