@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .notes-section {
    width: calc(100% - 16rem);
    min-height: calc(100% - 20rem);
    margin: 0 3rem;
    box-shadow: 0 0 10px rgba(#000, 0.2);
    border-radius: 4px;
    padding: 5rem;
    h3 {
      font-size: 4rem;
      color: rgba(#000, 0.2);
      font-weight: 500;
    }
    .notes {
      position: relative;
      width: 100%;
      height: calc(100% - 5rem);
      display: flex;
      flex-direction: column;

      &-list {
        width: 100%;
        display: flex;
        list-style: none;

        &-item {
          .note-btn {
            max-width: 105px;
            border: none;
            box-shadow: 0 0 5px rgba(#000, 0.1);
            background-color: transparent;
            cursor: pointer;
            margin-right: 0.5rem;
            padding: 5px 0.8rem;
            transition: all 0.3s;
            display: flex;
            outline: none;
            border-radius: 4px;
            .delete-btn {
              margin: 0 0.3rem;
              img {
                width: 10px;
                height: 10px;
              }
            }
            &:hover {
              transform: translateY(-5px);
            }
          }
        }
      }
      .note-box {
        width: 100%;
        height: 100%;
        margin: 2rem 0 0 0;
        display: flex;
        opacity: 0;
        transition: 0.5s all;
        transform: rotate(10deg) translateY(-50px) scale(0.1);
        &--active {
          box-shadow: 0 0 15px rgba(#000, 0.1);
          border-radius: 4px;
          opacity: 1;
          transform: rotate(0deg) translateY(0) scale(1) perspective(0);
          height: 100%;
        }

        .left-side {
          flex-basis: calc(30% - 4rem);
          display: flex;
          flex-direction: column;
          margin: 1rem 2rem;
          .title {
            display: flex;
            font-size: 26px;
            outline: none;
            border: none;
            resize: none;
          }
          p {
            font-size: 13px;
          }
        }
        .right-side {
          flex-basis: calc(70% - 4rem);
          display: flex;
          flex-direction: column;
          margin: 1rem 2rem;
          border-left: 1px solid rgba(#000, 0.1);
          word-wrap: break-word;
          .description {
            margin-left: 1rem;
            font-weight: 400;
            font-size: 18px;
            border: none;
            resize: none;
            outline: none;
          }
        }
      }
      .new-note-btn {
        position: absolute;
        max-width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        padding: 5px;
        bottom: calc(100% - 1.57rem);
        border-radius: 5px;
        width: 8%;
        right: 0;
        outline: none;
        cursor: pointer;
        border: none;
        background-color: transparent;
        box-shadow: 0 0 20px rgba(#000, 0.2);
        transition: all 0.3s;
        &:hover {
          transform: translateY(-5px);
        }
      }
    }
  }
  .form-section {
    display: none;
    &--active {
      display: flex;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100vh;
      z-index: 100000231;
      background-color: rgb(255, 255, 255);
      justify-content: center;
      align-items: center;
      .form-box {
        box-shadow: 0 0 20px rgba(#000, 0.2);
        width: 30%;
        height: calc(100vh - 26rem);
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 4px;
        align-items: center;
        position: relative;

        h3 {
          margin: 2rem 0;
        }
        &-items {
          display: flex;
          flex-direction: column;
          margin: 0 2rem;
          width: calc(100% - 4rem);
          input,
          textarea {
            border: none;
            outline: none;
            border: 1px solid rgba(#000, 0.2);
            border-radius: 4px;
            width: 100%;
            height: 40px;
            background-color: transparent;
            padding-left: 0.5rem;
            &:focus {
              padding-left: 0.5rem;
            }
          }
          textarea {
            resize: none;
            height: 200px;
            padding-top: 0.3rem;
          }
          label {
            margin-bottom: 0.3rem;
            font-size: 13px;
            letter-spacing: 1px;
          }
          #description-label {
            margin-top: 1rem;
          }
          .btns-box {
            display: flex;
            width: 100%;
            margin: 3rem 0;
            justify-content: center;
            .btn {
              outline: none;
              border: none;
              background-color: transparent;
              border-radius: 4px;
              cursor: pointer;
              width: 40%;
              padding: 10px;
              transition: all 0.3s;
              font-weight: 500;
              box-shadow: 0 0 20px rgba(#000, 0.2);
              font-size: 16px;
              &:hover {
                background-color: rgba(#000, 0.2);
                color: white;
              }
              &:first-child {
                margin-right: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
